 <!-- About Section -->

 <section class="edu" id="education">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Education</h2>
                <hr class="star-edu">
            </div>
        </div>
        
        <div class="timeline">

            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="0">
                <div class="timeline-head">
                    <div class="title-BBold">Korea International School    <span class="title-muted"></span></div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2020 ~ 2023 (9th ~ 12th) </div>
                </div>
            </div>

            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head">
                    <div class="title-BBold"> Summer School    </div>

                 </div>
                    <div class="title-bold"> Harvard Secondary School Program  <span class="title-muted">by Harvard University (Undergraduate Credit) </span>          </div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2022 6.22~8.3</div>
                    <div>Enrolled in "Introduction to Epidemiology and Biostatistics" and "Public Speaking"</div>
                        
                </div>   
                    <div class="title-bold"> Stanford National Forensic Institute Summer Camp <span class="title-muted">by Stanford University Debate Society</span>          </div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2021 8.2 ~ 8.13</div>
                    <div> Enrolled in "2-Week Core Parliamentary Program"</div>
                
                </div>
                    <div class="title-bold"> HOBY Academic Research Camp & Seminar <span class="title-muted"> with Ass. Professor in University of Pennsylvania</span>          </div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2020 8.3 ~8.7</div>
                    <div> Enrolled in "Extracting rib structure from two-dimensional chest X-ray using high dynamic range imaging method in OpenCV" </div>
               
                
            </div>

            <div class="timeline-card timeline-card-success" data-aos="fade-in" data-aos-delay="200">
                <div class="timeline-head">
                    <div class="title-BBold"> Online School (Independent Study)    </div>

                 </div>
                    <div class="title-bold"> Johns Hopkins Center for Talented Youth <span class="title-muted">by Johns Hopkins University </span>          </div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2022 9. 24.</div>
                    <div> Enrolled in "AP Calculus BC"</div>

                </div>
                    <div class="title-bold"> edX.org <span class="title-muted">by Harvard University and IBM </span>          </div>
                </div>
                <div class="timeline-body">
                    <div class="text-muted">2021 7.4 - 7.30</div>
                    <div> Enrolled in "Python Data Science"</div>
                    <div class="text-muted">2022 7.13</div>
                    <div> Enrolled in "Statistics and R"</div>
            </div>
        </div>
    </div>
</section>
